<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Tráfico en sedes
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="card-header">
                                <i class="fa fa-building bg-info p-3 font-2xl mr-3 float-left"></i>
                                <div class="h5 text-capitalize mb-0 mt-2">Medellín</div>
                                <div class="card-footer px-3 py-2">
                                    <a class="font-weight-bold font-xs btn-block text-capitalize" ui-sref-active="active" href="#">Ver pantallas <i class="fa fa-angle-right float-right font-lg"></i></a>
                                </div>
                            </div>
                            <div class="card text-white bg-primary" ng-controller="cardChartCtrl1">
                                <div class="card-body pb-0">
                                    <div class="btn-group float-right">
                                        <i class="fa fa-tv bg-info p-3 font-2xl mr-3 float-left"></i><br>55 Pantallas
                                    </div>
                                    <h4 class="mb-0">3.423</h4>
                                    <p>Huéspedes han interactuado</p>
                                </div>
                                <div class="chart-wrapper px-3" style="height:70px;">
                                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="card-header">
                                <i class="fa fa-building bg-info p-3 font-2xl mr-3 float-left"></i>
                                <div class="h5 text-capitalize mb-0 mt-2">Bogotá</div>
                                <div class="card-footer px-3 py-2">
                                    <a class="font-weight-bold font-xs btn-block text-capitalize" ui-sref-active="active" href="#">Ver pantallas <i class="fa fa-angle-right float-right font-lg"></i></a>
                                </div>
                            </div>
                            <div class="card text-white bg-info" ng-controller="cardChartCtrl2">
                                <div class="card-body pb-0">
                                    <div class="btn-group float-right">
                                        <i class="fa fa-tv bg-primary p-3 font-2xl mr-3 float-left"></i><br>40 Pantallas
                                    </div>
                                    <h4 class="mb-0">2.300</h4>
                                    <p>Huéspedes han interactuado</p>
                                </div>
                                <div class="chart-wrapper px-3" style="height:70px;">
                                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="card-header">
                                <i class="fa fa-building bg-info p-3 font-2xl mr-3 float-left"></i>
                                <div class="h5 text-capitalize mb-0 mt-2">Cartagena</div>
                                <div class="card-footer px-3 py-2">
                                    <a class="font-weight-bold font-xs btn-block text-capitalize" ui-sref-active="active" href="#">Ver pantallas <i class="fa fa-angle-right float-right font-lg"></i></a>
                                </div>
                            </div>
                            <div class="card text-white bg-warning" ng-controller="cardChartCtrl3">
                                <div class="card-body pb-0">
                                    <div class="btn-group float-right">
                                        <i class="fa fa-tv bg-primary p-3 font-2xl mr-3 float-left"></i><br>40 Pantallas
                                    </div>
                                    <h4 class="mb-0">1.800</h4>
                                    <p>Huéspedes han interactuado</p>
                                </div>
                                <div class="chart-wrapper" style="height:70px;">
                                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="card-header">
                                <i class="fa fa-building bg-info p-3 font-2xl mr-3 float-left"></i>
                                <div class="h5 text-capitalize mb-0 mt-2">Cali</div>
                                <div class="card-footer px-3 py-2">
                                    <a class="font-weight-bold font-xs btn-block text-capitalize" ui-sref-active="active" href="#">Ver pantallas <i class="fa fa-angle-right float-right font-lg"></i></a>
                                </div>
                            </div>
                            <div class="card text-white bg-danger" ng-controller="cardChartCtrl4">
                                <div class="card-body pb-0">
                                    <div class="btn-group float-right">
                                        <i class="fa fa-tv bg-primary p-3 font-2xl mr-3 float-left"></i><br>40 Pantallas
                                    </div>
                                    <h4 class="mb-0">800</h4>
                                    <p>Huéspedes han interactuado</p>
                                    
                                </div>
                                <div class="chart-wrapper px-3" style="height:70px;">
                                    <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colors" height="70"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->

<div class="row" ng-controller="socialBoxCtrl">
    <div class="col-sm-6 col-lg-3">
        <div class="social-box facebook">
            <i class="fa fa-facebook"></i>
            <div class="chart-wrapper">
                <canvas class="chart chart-line" chart-data="data1" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="90"></canvas>
            </div>
            <ul>
                <li>
                    <strong>89k</strong>
                    <span>friends</span>
                </li>
                <li>
                    <strong>459</strong>
                    <span>feeds</span>
                </li>
            </ul>
        </div>
        <!--/.social-box-->
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="social-box twitter">
            <i class="fa fa-twitter"></i>
            <div class="chart-wrapper">
                <canvas class="chart chart-line" chart-data="data2" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="90"></canvas>
            </div>
            <ul>
                <li>
                    <strong>973k</strong>
                    <span>followers</span>
                </li>
                <li>
                    <strong>1.792</strong>
                    <span>tweets</span>
                </li>
            </ul>
        </div>
        <!--/.social-box-->
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">

        <div class="social-box linkedin">
            <i class="fa fa-linkedin"></i>
            <div class="chart-wrapper">
                <canvas class="chart chart-line" chart-data="data3" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="90"></canvas>
            </div>
            <ul>
                <li>
                    <strong>500+</strong>
                    <span>contacts</span>
                </li>
                <li>
                    <strong>292</strong>
                    <span>feeds</span>
                </li>
            </ul>
        </div>
        <!--/.social-box-->
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="social-box google-plus">
            <i class="fa fa-google-plus"></i>
            <div class="chart-wrapper">
                <canvas class="chart chart-line" chart-data="data4" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="90"></canvas>
            </div>
            <ul>
                <li>
                    <strong>894</strong>
                    <span>followers</span>
                </li>
                <li>
                    <strong>92</strong>
                    <span>circles</span>
                </li>
            </ul>
        </div>
        <!--/.social-box-->
    </div>
    <!--/.col-->
</div>
<!--/.row-->

</div>