<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6">
            <div ng-if="$even" ng-repeat="screen in screensBranch" class="card">
                <div class="card-header">
                    <i class="fa fa-laptop bg-info p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-info mb-0 mt-2">{{screen["M"].name["S"]}}</div>
                    <div class="card-footer px-3 py-2">
                        <a class="font-weight-bold font-xs btn-block text-muted" ui-sref-active="active" ui-sref="app.screen({branchId: branchId,screenId: screen['M'].id['N']})">Ver detalle <i class="fa fa-angle-right float-right font-lg"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-sm-6 col-lg-12">
                        <div class="card text-white bg-primary" ng-controller="cardChartCtrl1">
                            <div class="card-body pb-0">
                                <div class="btn-group float-right">
                                    <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-settings"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <h4 class="mb-0">120</h4>
                                <p>Huéspedes han interactuado</p>
                            </div>
                            <div class="chart-wrapper px-3" style="height:70px;">
                                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        <a target="_blank" href="http://localhost:8383/flow/index.html#!/screen/{{screen['M'].url['S']}}"><strong>http://localhost:8383/flow/index.html#!/screen/{{screen['M'].url['S']}}</strong></a>
                    </div>

                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-md-6">
            <div ng-if="$odd" ng-repeat="screen in screensBranch" class="card">
                <div class="card-header">
                    <i class="fa fa-laptop bg-info p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-info mb-0 mt-2">{{screen["M"].name["S"]}}</div>
                    <div class="card-footer px-3 py-2">
                        <a class="font-weight-bold font-xs btn-block text-muted" ui-sref-active="active" ui-sref="app.screen({branchId: branchId,screenId: screen['M'].id['N']})">Ver detalle <i class="fa fa-angle-right float-right font-lg"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <!--                    <video width="450" controls>
                                            <source src="{{screen['M'].content['L'][0]['M']['path']['S']}}" type="video/mp4">
                                            Your browser does not support HTML5 video.
                                        </video>-->
                    <div class="col-sm-6 col-lg-12">
                        <div class="card text-white bg-primary" ng-controller="cardChartCtrl1">
                            <div class="card-body pb-0">
                                <div class="btn-group float-right">
                                    <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-settings"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <h4 class="mb-0">120</h4>
                                <p>Huéspedes han interactuado</p>
                            </div>
                            <div class="chart-wrapper px-3" style="height:70px;">
                                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        <a target="_blank" href="http://localhost:8383/flow/index.html#!/screen/{{screen['M'].url['S']}}"><strong>http://localhost:8383/flow/index.html#!/screen/{{screen['M'].url['S']}}</strong></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--/.row-->
</div>